* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .wrapper{
     position: relative;
      margin: 0 auto;
      width: 100%; 
  }
  .wrapper .close .closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('../img/closeBtn.png') 0 0 no-repeat;
    background-size: cover;
    z-index: 4;  
  }
  .wrapper .close a:hover{
    background-position: 0 -31px;
}
 .wrapper .content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: url('../img/denghuo.jpg') 50% 200px no-repeat;
    background-size: 70%;   
    text-align: center;
  }
  .wrapper .content .bookTitle{
   padding-top: 50px;
  }
  .wrapper .content .bookTitle .bookType{
    position: absolute;
    top: 10px;
    left: 10%;  
  }
  .wrapper .content .bookTitle .bookType span{
    font-size: 14px;
  }
  .wrapper .content .bookTitle .bookType a{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    border-radius: 26px;
    padding: 0 12px;
    background-color: rgba(255,255,255,0.4);
    color: #333;
    margin-right: 6px;
  }    
  .wrapper .content .bookTitle h1{
    font-size: 45px;
  }
  .wrapper .content .auther .autherPic{
    margin: 6px auto;
    text-align: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url('../img/sumoran.jpg') 50% 50% no-repeat;
      background-size: contain;
  }
  .wrapper .content .auther .autherName{
     color: #333;
     font-weight: bold;
     cursor: pointer;
     margin-bottom: 10px;
  }
  .wrapper .content  .bookDescribe{
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  .wrapper .content  .bookDescribe .comment{
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;

  }
  .wrapper .content  .bookDescribe .comment .star .st{
     width: 16px;
     height: 16px;
     display: inline-block;
     /* border: 1px solid red; */
  }
  .wrapper .content  .bookDescribe .comment .star .xing-one{
    background: url('../img/star.png') 0 0 no-repeat;
  }
  .wrapper .content  .bookDescribe .comment .star .xing-last{
    background: url('../img/star.png') -15px 0 no-repeat;
  }
  .wrapper .content  .bookDescribe .comment .score{
    margin-right: 8px;
    color: red;
  }
    .wrapper .content  .bookDescribe .comment .number{
      color: #68abb7;
    }